#!/usr/bin/ksh
# $Id: fileset.ext.config 140 2015-06-10 20:13:42Z michael $
# whatever script you use - specify it. The default may not be what you expect.
# For config it might even be something from the application!

# script to complete configuration of the application
# depending on how it is setup the application may or may not be running as root
# e.g., the #! commmand is from teh application and is suid to the application
# owner id.
# All information should be addressed from an application perspective
# If the application needs to be configured by the system for autostart then
# that step should be done in the post_i script - which assumes root authority.
# However, that part might be a very simple thing that only calls 'start'
# 'stop' of a control script that is owned by the application. in this script
# 'config'ure can be done of the real script that runs/manages the application.

# files in ${lppbase} should no longer have any importance
# - that level of processing should be complete.
# In other words, the application is installed, and files
# are where they need to be. The ${fileset}.cfgfiles should nto be needed.
# These are where they should be - NOTE - migration processing of 'cfgfiles'
# is normally performed by post_i/post_u not by 'config/config_u'.

# on success exit with 0 status, non-zero will abort the install process
[[ ! -z ${VERBOSE} ]] && \
	print -- "+- `pwd` $0 -+"
# The line below is as wide as the lines printed during normal installp installs
# it is provided as a reference
# print -- "+-----------------------------------------------------------------------------+"
# install services into /etc/services and /etc/inetd.conf
# Copyright Michael Felt and AIXTOOLS, 2013-2016

# $Date: 2016-01-17 11:44:03 +0000 (Sun, 17 Jan 2016) $
# $Revision: 178 $
# $Author: michael $
# $Id: ttcp_inetd.ksh 178 2016-01-17 11:44:03Z michael $
# remove old ttcp values - just in case
cp -p /etc/services /etc/services.$$
cp -p /etc/inetd.conf /etc/inetd.conf.$$

egrep "ttcp" /etc/services >/dev/null
if [[ $? -eq 0 ]]; then
        egrep -v  "ttcp"  /etc/services.$$ >/etc/services
	cp -p /etc/services /etc/services.$$
fi

egrep "ttcp[sr_]" /etc/inetd.conf >/dev/null
if [[ $? -eq 0 ]]; then
        egrep -v "ttcp[_sr]" /etc/inetd.conf.$$ >/etc/inetd.conf
	cp -p /etc/inetd.conf /etc/inetd.conf.$$
fi

grep ttcpr /etc/services
if [[ $? -ne 0 ]]; then
	echo "ttcpr     32765/tcp # ttcp_reader or sink" >>/etc/services
	echo "ttcpr     32765/udp # ttcp_reader or sink" >>/etc/services
	echo "ttcps     32766/tcp # ttcp_sender faucet" >>/etc/services
	echo "ttcps     32766/udp # ttcp_sender faucet" >>/etc/services
	echo "ttcp      32767/tcp # ttcp port holder" >>/etc/services
	echo "ttcp      32767/udp # ttcp port holder" >>/etc/services
fi

egrep "ttcp[sr_]" /etc/inetd.conf >/dev/null
if [[ $? -ne 0 ]]; then
	echo "ttcpr     stream  tcp    nowait  nobody    /opt/bin/ttcpr     ttcpr" >>/etc/inetd.conf
	echo "ttcps     stream  tcp    nowait  nobody    /opt/bin/ttcps     ttcps" >>/etc/inetd.conf
fi
refresh -s inetd
rm -f /etc/inetd.conf.$$ /etc/services.$$
exit 0
